@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";

page {
    background: #F3F4F5;
    // background: red;
}

.adult-place-page {
    text-align: center;

    .top-banner {
        image {
            width: 100%;
            vertical-align: middle;
        }
    }

    .content-wrap {
        margin: 0px 20px;
        margin-top: 20px;
        padding: 12px 22px 32px 22px;
        background: white;
        border-radius: 12px;

        .content-title-wrap {
            position: relative;
            text-align: left;
            margin-bottom: 30px;
            // padding: 0px 10px;
            padding-top: 22px;

            .title {
                font-size: 32px;
                // margin-left: 28px;
                color: #1D1D1E;
                font-weight: bold;

                &-desc {
                    font-weight: initial;
                    font-size: 24px;
                    color: #999;
                    margin-left: 20px;
                }
            }

            .more {
                font-size: 21px;
                color: #999;
                position: absolute;
                right: 10px;
            }

            .more-dynamic {
                font-size: 23px;
                color: #999;
                position: absolute;
                right: 10px;
                top: 30px;
            }
        }

        .lf-wrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 70px;
            // max-height: 200px;
            padding-top: 20px;
            &-series-top {
                width: 100%;
                text-align: left;
                font-size: 32px;
                color: #333;
                image {
                    width: 100%;
                }
            }
            &-series-bottom {
                line-height: 40px;
                flex: 1;
                text-align: left;
                .name {
                    color: #333;
                    font-size: 32px;
                    font-weight: bold;
                    position: relative;
                    .course-price {
                        color: #FF0000;
                        font-size: 32px;
                        font-weight: bold;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                    }
                }
                .desc {
                    text-align: left;
                    margin-top: 20px;
                    overflow: hidden;
                    color: #999;
                    font-size: 24px;
                }
                .status {
                    font-size: 24px;
                    position: relative;
                    margin-top: 30px;
                    .limit {
                        color: #5E5D5D;
                        .person {
                            color: #52D5AA;
                        }
                    }
                }
            }
        }
    }
    
}

.at-col-1 {
    flex: 0 0 3.33333%;
}